/* Body */
body {
  background: linear-gradient(#6782B4, #B1BFD8);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* @keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
} */

.fade {
  opacity: 1;
  animation: fade 1s linear;
}

/* Outer Container */
.outer-container {
  background-color: white;
  max-width: 1400px;
  width: 100%;
  height: 80vh;
  margin: 50px auto;
  border-radius: 40px;
  display:flex;
}

/* Left Container */
.left-container{
  height: 100%;
  width: 52%;
  border-radius: 40px;
  background-image: url("./images/weather-background4.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 70%;
}

/* Left Nav */
.left-nav-container{
  display: flex;
  justify-content: space-between;
  padding: 38px 35px 0px 40px;
  align-items: center;
}

.title{
  color: white;
  font-size: 27px;
  font-weight: 400;
  text-shadow: 2px 2px 10px grey;
}

.location-container{
  height: 60px;
  width: 250px;
  background-color:rgb(44, 43, 43);
  opacity: 60%;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

div.location-container img{
  height: 40px;
  width: 40px;
  margin: 0px 10px;
}

div.location-inner-container div:first-child{
  color: rgb(255, 255, 255);
}

div.location-inner-container div:last-child{
  color: rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 700;
}

/* Left Search */

.left-search-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.center-message{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 240px;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}

div.bar{
  height:8px;
  border-radius: 5px;
  margin-top: 25px;
  background-color: white;
  width: 200px;
}

.search input{
  outline: none;
  width: 300px;
  height: 30px;
  background-color: rgb(207, 206, 206);
  margin-top: 35px;
  opacity: 80%;
  color: rgb(70, 69, 69);
  font-size: 20px;
  border-radius: 10px;
  padding: 5px 20px;
}

/* Right Container */
.right-container{
  padding: 40px 0px 0px 40px;
}

.today{
  font-size: 60px;
  font-weight: 700;
}

.daily{
  font-size: 40px;
  font-weight: 700;
  margin-top: 30px;
}

/* Today Card */

.today-card{
  margin-top: 30px;
  height: 250px;
  width: 550px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(136, 134, 134);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.today-card:hover{
  box-shadow: 0 4px 1rem -4px #000;
  transform: translateY(-3px);
  cursor: pointer;
}

.today-card-right{
  color: grey;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.vertical-border{
  background-color: grey;
  height: 150px;
  width: 2px;
}

.today-card-temperature{
  font-size: 40px;
  font-weight: 700;
}

.today-card-status{
  font-size: 35px;
}

.today-card-date{
  font-size: 20px;
  color: grey;
  margin-top: 5px;
}

/* Daily Card */
.daily-card-container{
  margin-top: 20px;
  display: flex;
  overflow: auto;
  width: 100%;
  max-width: 590px;
  
}

.daily-card{
  height: 250px;
  width: 225px;
  min-width: 225px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(136, 134, 134);
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin: 10px 10px;
}

.daily-card:hover{
  box-shadow: 0 4px 1rem -4px #000;
  transform: translateY(-3px);
  cursor: pointer;
}

.daily-card-temperature{
  font-size: 40px;
  font-weight: 700;
}

.daily-card-status{
  font-size: 23px;
}

.daily-card-date{
  font-size: 20px;
  color: grey;
  margin-top: 5px;
}

/* Details Container */
.details-container{
  padding: 23px 0px 0px 40px;
}

.details-title{
  font-size: 40px;
  font-weight: 700;
}

.return {
  background-color: rgb(211, 209, 209);
  width: 100px;
  padding: 5px 6px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

/* Details Card */
.details-card{
  height: 250px;
  width: 550px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(136, 134, 134);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  font-size: 25px;
}

.details-card:hover{
  box-shadow: 0 4px 1rem -4px #000;
  transform: translateY(-3px);
}

.details-bar{
  height: 200px;
  width: 2px;
  background-color: grey;
  border-radius: 1px;
}

/* Details Graph */

.details-graph-card{
  margin-top: 30px;
  height: 300px;
  width: 800px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(136, 134, 134);
}

.details-graph-card:hover{
  box-shadow: 0 4px 1rem -4px #000;
  transform: translateY(-3px);
}

.details-graph-container{
  padding-top: 32px;
  height: 300px;
  width: 800px;
}
